/* Input validation */

.input-registration {
  box-shadow: none;
}

.input-registration.edited:valid,
.input-registration.edited.valid {
  margin: -1px 0 0 -1px;
  border: 2px solid rgba(37,197,63,.6);
}

.input-registration.edited:invalid,
.input-registration.edited.invalid {
  margin: -1px 0 0 -1px;
  border: 2px solid rgba(255,79,118,.6);
}

.form-search {
  position: relative;
}

#form-search-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
